/*@import './base.css';*/

#app {
    width: 100vw; /* 視窗寬度 */
    min-height: 100vh; /* 視窗高度 */
    margin: 0; /* 移除邊距 */
    padding: 0; /* 移除內邊距（或根據需要保留） */
    font-weight: normal;
    overflow: auto; /* 若內容超出，啟用滾動條 */
}

body {
    background: antiquewhite;
    display: flex;
    place-items: center;
}
